<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta th:if="${isInputImageUploaded} and not ${isResultImageProcessed}"
          http-equiv="refresh" content="60"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        var statusIntervalRefId;

        function askProcessingStatusFunction() {
            $.getJSON('processingStatus')
                .done( function(json) {
                    console.log(json.percent + ' / ' + json.resultCode);
                    if(json.code != -1) {
                        $('.status-info').html(json.resultCode);
                    }
                    else {
                        $('.status-info').html(json.percent);
                    }

                    if (json.percent == 100) {
                        console.log('processing done')
                        clearInterval(statusIntervalRefId);
                    }
                })
                .fail( function(jqxhr, textStatus, error) {
                    $('.status-info').html("something exploded");
                });
        };

    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .error {
        color: #ff0000;
        }

        .errorBlock {
        color: #000;
        background-color: #ffEEEE;
        border: 3px solid #ff0000;
        padding: 8px;
        margin: 16px;
        }
    </style>
</head>
<body>

<div th:fragment="header">
    <h1 th:text="${headerText}">Image Comparison</h1>
</div>

</body>
</html>